<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    
</head>
<body>
    <style>
        body {
            background-image: url(images/for_index.jpg);
            background-attachment: fixed;
            background-size: cover;
        }
        .container {
            margin-top: 310px;
            display: flex;
            justify-content: center;
        }
        .box {
            background-color: white;
            height: 220px;
            width: 540px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 1px 8px white;
        }
        h1 {
            margin: 30px;
            margin-top: 40px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 32px;
            color: #917829;
        }
        h2 {
            margin: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 22px;
            color: #917829;
        }
    </style>
    
    <div class="container">
        <div class="box"> 
        <h1> You are participating in the event.</h1>
          <h2>You will receive a gift from Santa.</h2>
          <p><%= mes %></p>
        </div>
    </div>
</body>
</html>